doctype html
html
  head
    meta(http-equiv="Content-Type", content="text/html; charset=utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    title #{__('TITLE', community)}
    link(href="/css/style.css", rel="stylesheet", type="text/css")
    link(href="/favicon", rel="shortcut icon", type="image/x-icon")
  body
    #container
      .logo
        img(src="/images/logo.png", alt="Slack + HEROPY")
      .header
        h1 Join a Slack workspace
        h2 #{__('HEADER', community)}
      .content
        .information
          form#join-form.form(method="POST", action="/invite")
            input#slack-email.field(type="email", name="email", autofocus, placeholder="#{__('ENTER_EMAIL')}")
            if tokenRequired
              input#slack-token.field(type="text", name="token", placeholder="#{__('ENTER_TOKEN')}")
            input.submit(type="submit", value="JOIN")
            if !!recaptchaSiteKey
              div(class="g-recaptcha", data-sitekey="#{recaptchaSiteKey}")
      .descriptions
        p #{__('DESCRIPTION1', community)}
        p #{__('DESCRIPTION2', community)}
    if !!recaptchaSiteKey
       script(src='https://www.google.com/recaptcha/api.js')
    script.
      var tokenRequired = #{tokenRequired};
      var form = document.getElementById('join-form');
      var email = document.getElementById('slack-email');
      var token = document.getElementById('slack-token');
      form.addEventListener('submit', function(evt) {
        if (!email.value) {
          evt.preventDefault();
        }
        if (tokenRequired && !token.value) {
          evt.preventDefault();
        }
      });
